body{
    text-align:center;
    background-color:black;
}

#origami1{
    background-color:lightcoral; 
}

#origami2{
    background-color:lightcoral;
}

#origami3{
    background-color:lightcoral;
}

#origami4{
    background-color:lightcoral;
}

.hi{
    color:white;
}